node_modules/
.next/
out/
build/
dist/
*.tsbuildinfo

.env
.env.local
.env.*.local

.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
.vscode/
.idea/

next-env.d.ts
